<% 
  # save the conversion to hash on every call!
  ref_meta = @current_context_object.referent.metadata  
  labels = referent_labels
%>
<div class="row-fluid">
  <dl class="dl-horizontal span8">
        <%= # Article Title
    if ref_meta.has_key?("atitle") and (not ref_meta["atitle"].blank?)
      content_tag(:dt, "#{labels.atitle}:", :class => "atitle") +
        content_tag(:dd, ref_meta["atitle"], :class => "atitle")
    end %>
    <%= # Author
    if ref_meta.has_key?("au") or ref_meta.has_key?("aulast")
      author = (ref_meta["au"] || ref_meta["aulast"])
      if ref_meta["aufirst"] || ref_meta["auinit"] || ref_meta["auinit1"]
        author << ", #{(ref_meta["aufirst"] || ref_meta["auinit"] || ref_meta["auinit1"])}"
      end
      content_tag(:dt, t(:author), :class => "author") +
        content_tag(:dd, author, :class => "author")
    end %>
    <%=# Journal/Book Title
    if ref_meta.has_key?("jtitle")  or ref_meta.has_key?("title") or ref_meta.has_key?("btitle")
      content_tag(:dt, "#{labels.title}:", :class => "title") +
        content_tag(:dd, :class => "title") {
          link_to(ref_meta["title"] || ref_meta["btitle"] || ref_meta["jtitle"],
            url_for_with_co({:controller => 'resolve'}, @current_context_object),
              {:target => search_result_target_window}) }
    end %>
    <%= # ISSN
    if ref_meta.has_key?("issn") and (not ref_meta["issn"].blank?)
      content_tag(:dt, "ISSN:", :class => "issn") +
        content_tag(:dd, ref_meta["issn"], :class => "issn")
    end %>
    <%= # ISBN
    if ref_meta.has_key?("isbn") and (not ref_meta["isbn"].blank?)
      content_tag(:dt, "ISBN:", :class => "isbn") +
        content_tag(:dd, ref_meta["isbn"], :class => "isbn")
    end %>
    <%= # Publisher
    if ref_meta.has_key?("pub") and (not ref_meta["pub"].blank?)
      publisher = (ref_meta.has_key?("place") and (not ref_meta["place"].blank?)) ? "#{ref_meta['place']} : " : ""
      publisher << ref_meta["pub"]
      content_tag(:dt, t(:publisher), :class => "publisher") +
        content_tag(:dd, publisher, :class => "publisher")
    end %>
    <%= # Publishing info, etc.
    if ref_meta.has_key?("date") and (not ref_meta["date"].blank?)
      content_tag(:dt, t(:published), :class => "published") +
        content_tag(:dd, date_format(ref_meta["date"]), :class => "published")
    end %>
    <%= # Volume
    if ref_meta.has_key?("volume")
      content_tag(:dt, t(:volume), :class => "volume") +
        content_tag(:dd, ref_meta["volume"], :class => "volume")
    end %>
    <%= # Issue
    if ref_meta.has_key?("issue")
      content_tag(:dt, t(:issue), :class => "issue") +
        content_tag(:dd, ref_meta["issue"], :class => "issue")
    end %>
    <%= # Pages
    if ref_meta.has_key?("spage")
      pages = ref_meta["spage"]
      pages = "#{pages} - #{ref_meta["epage"]}" if ref_meta.has_key?("epage")
      content_tag(:dt, t(:page), :class => "page") +
        content_tag(:dd, pages, :class => "page")
    end %>
  </dl>
  <div class="umlaut-citation-link span3">
    <%= resolver_link(@current_context_object, {:target => search_result_target_window}) %>
  </div>
</div>
