<div class="oneColumn">
  <h2>Books</h2>
  <%= form_tag({:controller=>'resolve', :action=>@submit_action}, {:method=>'get'}) %>
    <fieldset class="citationLinker">                                      
      <%= hidden_field_tag "rfr_id", "info:sid/umlaut.code4lib.org:citation" %> 
      <%= hidden_field_tag "url_ver", "Z39.88-2004" %> 
      <%= hidden_field_tag "url_ctx_fmt", "info:ofi/fmt:kev:mtx:ctx" %> 
      <%= hidden_field_tag "ctx_ver", "Z39.88-2004" %> 
      <%= hidden_field_tag "rft_val_fmt", "info:ofi/fmt:kev:mtx:book" %> 
      <%= hidden_field_tag "rft.genre", "book" %> 
      <%= label :book, :title, "Book Title:" %>
      <%= text_field :book, :title, {:name=>'rft.btitle', :class=>"title_search"} %>
      <%= label :book, :date, "Year:" %>
      <%= text_field :book, :date, {:name=>'rft.date', :class=>"date"} %>
      <%= label :book, :volume, "Volume:" %>
      <%= text_field :book, :volume, {:name=>'rft.volume', :max_length => "5", :class=>"volume"} %>
      <%= label :book, :part, "Part:" %>
      <%= text_field :book, :part, {:name=>'rft.part', :class=>"part"} %>
      <%= label :book, :isbn, "ISBN:" %>
      <%= text_field :book, :isbn, {:name=>'rft.isbn', :max_length => "17", :class=>"isbn"} %>
    </fieldset>
    <fieldset class="citationLinker">                                      
      <legend>Author</legend>
      <%= label :book, :aulast, "Last Name:" %>
      <%= text_field :book, :aulast, {:name=>'rft.aulast', :class=>"aulast"} %>
      <%= label :book, :aufirst, "First Name:" %>
      <%= text_field :book, :aufirst, {:name=>'rft.aufirst', :class=>"aufirst"} %>
      <%= label :book, :auinit, "Initials:" %>
      <%= text_field :book, :auinit, {:name=>'rft.auinit', :class=>"auinit"} %>
    </fieldset>
    <fieldset>                                      
      <%= submit_tag "Search", :class => "btn" %>
    </fieldset>
  </form>
</div>
