<div class="row">
  <div class="span12">
    <h2>Journals</h2>
    <%= render :partial=>"a_to_z" %>
    <% if flash[:error] %>
      <div id="error" class="notice citationLinker"><strong>(!) Problems:</strong> <%= flash[:error] %></div>
    <% end %>
    <h3>Looking for a specific journal or article</h3>
    <%= form_tag(@submit_hash, {:method => "get", :class => "OpenURL", :name => "OpenURL", :id=>"OpenURL"})  %>
      <fieldset class="citationLinker">                                      
        <legend>Enter the journal title or the ISSN. If you have both the journal title and ISSN, use the ISSN.</legend>
        <%= hidden_field_tag "rfr_id", "info:sid/sfxit.com:citation" %> 
        <%= #hidden_field_tag "rfr_id", "nfo:sid/umlaut.code4lib.org:citation" %> 
        <%= hidden_field_tag "rft.date", "" %> 
        <%= hidden_field_tag "rft.title", "", {:class => "rft_title"} %> 
        <%= hidden_field_tag "rft.object_id", "", {:class => "rft_object_id"} %> 
        <div class="row">
          <div class="span6">
            <%= label :journal, :title, "Journal Title:" %>
            <%= text_field :journal, :title, {:name=>'rft.jtitle', :class=>"title_search"} %>
          </div>
          <div class="span3">
            <select name="umlaut.title_search_type" class="sfx_title_search">
              <%#= options_for_select({"contains", "begins" => "begins with", "exact" => "exact match"}, params["umlaut.title_search_type"])  %>
            </select>
          </div>
          <div class="span3">
            <%= label :journal, :isbn, "ISSN:" %>
            <%= text_field :journal, :isbn, {:name=>'rft.issn', :max_length => "9", :class=>"issn"} %>
          </div>
        </div>
      </fieldset>
      <fieldset class="citationLinker">
        <legend>Optional information - Enter as much as you know of the following:</legend>
        <div class="row">
          <div class="span4">
            <label for="date">Date:</label>
            <select id="date" name="__year">
              <option value="" selected>Year</option>
              <% (-1*Time.now.year..-1*1950).each do |year| %>
                <option value="<%= year.abs.to_s %>"><%= year.abs.to_s %></option>
              <% end %>
            </select>
            <select name="__month">
              <option value="" selected>Month</option>
              <option value="01">Jan</option>
              <option value="02">Feb</option>
              <option value="03">Mar</option>
              <option value="04">Apr</option>
              <option value="05">May</option>
              <option value="06">Jun</option>
              <option value="07">Jul</option>
              <option value="08">Aug</option>
              <option value="09">Sep</option>
              <option value="10">Oct</option>
              <option value="11">Nov</option>
              <option value="12">Dec</option>
            </select>
            <select name="__day">
              <option value="" selected>Day</option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
            </select>
          </div>
          <div class="span2">
            <%= label :journal, :volume, "Volume:" %>
            <%= text_field :journal, :volume, {:name=>'rft.volume', :max_length => "5", :class=>"volume"} %>
          </div>
          <div class="span3">
            <%= label :journal, :issue, "Issue:" %>
            <%= text_field :journal, :issue, {:name=>'rft.issue', :class=>"issue"} %>
          </div>
          <div class="span2">
            <%= label :journal, :spage, "Start page:" %>
            <%= text_field :journal, :spage, {:name=>'rft.spage', :class=>"spage"} %>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <label for="rft_id_type">DOI or Pubmed Identifier:</label>
            <select id="rft_id_type" name="rft_id_type">
              <option value="doi">DOI:</option>
              <option value="pmid">PMID:</option>
            </select>
            <input name="rft_id_value" type="text" value="">
          </div>
        </div>
      </fieldset> 
      <%= submit_tag "Search", {:name=>"Generate_OpenURL2"} %>
    </form>
    <h3><i class="icon-question-sign">?</i> Having Trouble?</h3>
    <ul class="bullets">
      <li>Try entering less information about your article. If one piece of information is wrong, it could be causing the problem.</li>
      <% if umlaut_config.help_url %>
        <li>For technical support, including access problems, please <a href="<%= umlaut_config.help_url %>">contact us</a>.</li>
      <% end %>
    </ul>
  </div>
</div>