<div class="txt">
  <%
  unless @user_request.nil? %>
    <%= form_tag( {:controller => "export_email", :action => "send_txt", :id => params[:id]}, :class => "form-inline" ) do %>
      <h2>Send the title and location of an item to your mobile phone</h2>
      <%= validation_error( @error || flash[:error]) if ( @error || flash[:error]) %>
      <fieldset>
        <legend>Title: <%= h(brief_citation(@user_request)) %></legend>
        <%= label_tag('number', 'Enter your mobile phone number:') %>
        <%= text_field_tag('number', params[:number], :size => 14) %>
        <small><em>10 digit US cell phone number</em></small><br />
        <%= label_tag('provider', 'Select your provider:') %>
        <% providers = @svc_response.service.instance_variable_get("@providers") %>
        <%= select_tag "provider", options_for_select(providers.sort, params[:provider]) %>
        <% holdings = @user_request.get_service_type('holding', {}) %>
        <p>Choose the item you want to send:</p>
        <ul><%
          holdings.each do |p|
            target = p.view_data %>
            <li>
              <%= radio_button_tag 'holding', p.id, (params[:holding].to_s == p.id.to_s) || holdings.length == 1 %>
              <%= label_tag "holding_#{p.id}", formatted_html_holding_status(target) %>
            </li><%
          end %>
        </ul>
        <small><em>Note: charges may apply if your service plan does not cover unlimited texting</em></small>
        <%= submit_tag 'Send!', :class => "btn btn-inverse" %>
      </fieldset><%
    end
  end %>
</div>