<tr class="dispatch_line">
  <td><%= dispatched_service.updated_at.to_s(:short) %></td>
  <td><%= dispatched_service.service_id %></td>    
  <td><%= dispatched_service.status %></td>
  <td><%= link_to "[Re-request live]", url_for_with_co({:controller => "/resolve", :action => :index, "umlaut.force_new_request" => "true"},  dispatched_service.request.to_context_object) %></td>
  <td><%= link_to "[View cached request]", url_for(:controller => "/resolve", :action => :index, "umlaut.request_id" => dispatched_service.request_id ) %></td>
</tr>
<tr>
<% if dispatched_service.exception_info %>
  <td colspan="5">  
    <%= dispatched_service.exception_info[:class_name] %>: <%= dispatched_service.exception_info[:message] %>
    <% if dispatched_service.exception_info[:backtrace] %>
    <ul>
      <% dispatched_service.exception_info[:backtrace].each do |line| %>
        <%= simple_format line %>
      <% end %>
    </ul>
    <% end %>
  </td>
</tr>
<% end %>
