<%
# Get the citation from the user request
cite = user_request.referent.to_citation
@page_title = cite[:title] %>
<% if user_request.referent.type_of_thing.present? %>
  <p class="resource-type"><%=t(user_request.referent.type_of_thing).titlecase %></p>
<% end %>
<h2 class="title"><%= cite[:title] %></h2>
<% if cite[:author].present? || cite[:date].present? %>
  <p class="author-and-date">
    <% if cite[:author].present? %>
      <span class="author"><%= cite[:author] %></span>
    <% end %>
    <% if cite[:author].present? && cite[:date].present? %>
      <span class="sep">•</span>
    <% end %>
    <% if cite[:date].present? %>
      <span class="date"><%= date_format(cite[:date]) %></span>
    <% end %>
  </p>
<% end %>
<p class="published_in">
  <% if [:container_title, :volume, :issue, :page].find {|k| cite[k].present? } %>

    <span class="published-label"><%="#{t(:published_in)} #{t(cite[:container_label])}"%></span> 
    <span class="container-title"><%= cite[:container_title] %></span>. 
  <% end %>
  <% if cite[:volume].present? %>
      <span class="volume"><%="#{t(:volume).titlecase} #{cite[:volume]}" %></span>.
  <% end %>
  <% if cite[:issue].present? %>
      <span class="issue"><%="#{t(:issue).titlecase}  #{cite[:issue]}" %></span>.
  <% end %>
  <% if cite[:page].present? %>
      <span class="page"><%="#{t(:page).titlecase} #{cite[:page]}" %></span>.
  <% end %>
</p>
<dl class="citation-info">
  <%= if cite[:pub].present? 
    content_tag(:dt, "Publisher:", :class => "publisher") +
      content_tag(:dd, cite[:pub], :class => "publisher")
  end %>
  <%= if cite[:issn].present?
    content_tag(:dt, "ISSN:", :class => "issn") +
      content_tag(:dd, cite[:issn], :class => "issn")
  end %>
  <%= if cite[:isbn].present?
    content_tag(:dt, "ISBN:", :class => "isbn") +
      content_tag(:dd, cite[:isbn], :class => "isbn")
  end %>
  <%# todo, doi %>
</dl>