<%
cite = @user_request.referent.to_citation
@page_title = cite[:title] %>

<% if @user_request.referent.type_of_thing.present? %>
  <p class="resource_type"><%=@user_request.referent.type_of_thing.titlecase %></p>
<% end %>

<h2 class="title"><%= cite[:title] %></h2>

<% if cite[:author].present? || cite[:date].present? %>
  <p class="author_and_date">
    <% if cite[:author].present? %>
      <span class="author"><%= cite[:author] %></span>
    <% end %>

    <% if cite[:author].present? && cite[:date].present? %>
      <span class="sep">—</span>
    <% end %>

    <% if cite[:date].present? %>
      <b class="date"><%= date_format(cite[:date]) %></b>
    <% end %>
  </p>
<% end %>

<p class="published_in">
  <% if [:container_title, :volume, :issue, :page].find {|k| cite[k].present? } %>

    <span class="published_label">Published in <%= cite[:container_label] %></span> <span class="container_title">
      <%= cite[:container_title] %></span>. 
  <% end %>

  <% if cite[:volume].present? %>
      <span class="volume">Volume <%= cite[:volume] %></span>.
  <% end %>

  <% if cite[:issue].present? %>
      <span class="issue">Issue <%= cite[:issue] %></span>.
  <% end %>

  <% if cite[:page].present? %>
      <span class="page">Page <%= cite[:page] %></span>.
  <% end %>
</p>

<dl class="citation-info">
  <%= if cite[:pub].present? 
    content_tag(:dt, "Publisher:", :class => "publisher") +
      content_tag(:dd, cite[:pub], :class => "publisher")
  end %>
  <%= if cite[:issn].present?
    content_tag(:dt, "ISSN:", :class => "issn") +
      content_tag(:dd, cite[:issn], :class => "issn")
  end %>
  <%= if cite[:isbn].present?
    content_tag(:dt, "ISBN:", :class => "isbn") +
      content_tag(:dd, cite[:isbn], :class => "isbn")
  end %>

  <%# todo, doi %>

</dl>