<% holdings = holding.find_all{|response| response.service_type_value_name.eql? "holding"} %>

<% unless holdings.empty? %>
  <div class="umlaut-holdings"><%
    # Process each holding.
    holdings.each do |p|
      target = p.view_data %>
      <div class="umlaut-holding">
        <div class="item_status_row">
          <div class="collection-str"><%= target[:collection_str] %></div>

          <div class="call-number"><%= target[:call_number]%></div>

          <% # Set status class based on configured available statuses
          status_class = umlaut_config.holdings.available_statuses.include?(target[:status]) ? 'umlaut-available' : '' %>

          <div class="holding-status <%= status_class %>"><%= target[:status] %></div>
          
          <div class="holding-actions">
            <%= link_to("More Info", {:controller=>"link_router", :id=>p.id}, :target => "_blank", :class=>"more-info btn btn-small btn-success") %>
            <% if target[:request_url] %>
              <%= link_to("Request", target[:request_url], :target => "_blank", :class=>"request btn btn-small btn-primary") %><br />
            <% end %>
          </div>

        </div>

        <% if target[:match_reliability].present? && target[:match_reliability] != ServiceResponse::MatchExact %>
          <div class="umlaut-holding-match-reliability">            
              <% unless target[:edition_str].blank? %>
                <em class="note">Edition information</em> <%= target[:edition_str] %>
              <% else %>
                <em class="note">May be alternate edition.</em>
              <% end %>            
          </div>
        <% end %>
        
        <% if target[:notes].present? %>
          <div class="umlaut-holding-notes">
            <%= target[:notes] %>
          </div>
        <% end %>
        
        <% if target[:coverage_str_array].present? %>
          <div class="umlaut-holding-coverage">
            <%= list_with_limit("copies_#{p.id}", target[:coverage_str_array]) do |item, index| %>
                <li><%= item %></li>
            <% end %>            
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if holdings.empty? %>
  <div class="umlaut-content-indent"><%
    # Get and display holding searches
    searches = holding.find_all{|response| response.service_type_value_name.eql? "holding_searches"}
    searches.each do | result_st |
      response = result_st.view_data %>
      <p><%= link_to response[:display_text], {:controller=>'link_router', :id=>result_st.id}, 'target'=>"_blank" %></p><%
    end
    # Display "Not Available" if we've completed our service run and both holdings and holding searches are empty
    if (holdings.blank? and searches.blank? and (not service_types_in_progress?(['holding', 'holding_search']))) %>
      <p class="umlaut-unavailable">Not Available</p><%
    end %>
  </div><%
end %>