
<% 
         failed_dispatches = failed_service_dispatches()
         unless ( failed_dispatches.nil? || failed_dispatches.empty? ) %>
         <div id="service_errors_content" class="small_right_box">


               <span class="error_icon">(!)</span><span class="smallText">Some content may not be included due to errors:</span>
        <ul>
          <% failed_dispatches.each do | dispatch | %>
            <li class="smallText">           
            Some <i><%= dispatch.service.service_types_generated.collect { |type|
               type.display_name_pluralize.downcase}.join(",") %></i>
             from <a class="simple_visible_toggle"><strong><%= dispatch.service.display_name %>  </strong> </a>
              <% exception_info = dispatch.exception_info %>
                <div style="display: none;">
                technical error information
                <ul>
                   <li> <%= exception_info[:class_name] if exception_info %> </li>
                   <li> <%= exception_info[:message] if exception_info %> </li>
                   <li> dispatched service id: <%= dispatch.id %>  </li>                    
                </ul>
                </div>
            </li>
          <% end %>
        </ul>
       <span class="clear"></span>
       </div>
       <% end %>
