<% 
failed_dispatches = failed_service_dispatches()
unless ( failed_dispatches.nil? || failed_dispatches.empty? ) %>
  <div id="service_errors_content" class="small_right_box">
    <i class="icon-warning-sign"></i> <span class="warning">Some content may not be included due to errors:</span>
    <ul>
      <% failed_dispatches.each do | dispatch | %>
        <li class="text-small">           
          Some <em><%= dispatch.service.service_types_generated.collect { |type|
            type.display_name_pluralize.downcase}.join(",") %></em>
          from <a class="simple_visible_toggle"><strong><%= dispatch.service.display_name %></strong></a>
          <% exception_info = dispatch.exception_info %>
          <div style="display: none;">
            <ul class="nav nav-list">
              <li class="nav-header">Technical Error Information</li>
              <li><pre><%= exception_info[:class_name] if exception_info %></pre></li>
              <li><pre><%= exception_info[:message] if exception_info %></pre></li>
              <li><pre>dispatched service id: <%= dispatch.id %></pre></li>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
