<%= render 'background_updater', :user_request => @user_request %>
<div class="row">
  <div class="col-sm-8 umlaut-main"> 
    <div class="umlaut-resource-info">
      <div class="resource_info_sections">
        <%= render 'manually_entered_warning', :user_request => @user_request %>
        <%= render 'citation', :user_request => @user_request %>
        <% html_sections(:resource_info).each do |section| %>
          <%= content_tag "div", :id => section[:div_id] do %>
            <%= render_section(section) %>
          <% end %>
        <% end %>
      </div>
      <%# need a div here for ajax bg loader to put bg loaded cover into %>
      <div id="cover_image">
        <%= render_section(html_section_by_div_id("cover_image")) %>
      </div>
    </div>
    <div class="main_response_list">
      <% html_sections(:main).each do |section| %>
        <%= content_tag "div", :id => section[:div_id] do %>
          <%= render_section(section) %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-4 umlaut-sidebar-container">
    <div class="umlaut-sidebar">
      <% html_sections(:sidebar).each do |section| %>
        <%= content_tag "div", :id => section[:div_id] do %>
          <%= render_section(section) %>
        <% end %>
      <% end %>
      <div id="service_errors">
        <% html_sections(:service_errors).each do |section| %>
          <%= render_section(section) %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'modal' %>
</div>
