<!DOCTYPE html>
<html lang="EN">
<head>
  <meta charset="utf-8">
  
  <%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css'%>
  <%= stylesheet_link_tag 'umlaut' %> 
  <%= #stylesheet_link_tag "jquery-ui/jquery-ui-1.8.custom.css" 
  %>

  <%= javascript_include_tag 'application' %>
  
  <%= #javascript_include_tag "jquery/jquery-1.4.2.min.js", "jquery/jquery-ui-1.8.custom.min.js" 
  %>
  <%= #javascript_include_tag "umlaut" 
  %>
  
  <%= csrf_meta_tags %>


  <title>
    <%= umlaut_config.app_name %> <%= "| #{@page_title}" if @page_title %>    
  </title>

  <% if ( @meta_refresh_self ) %>
    <meta http-equiv="refresh" content="<%= @meta_refresh_self %>">
  <% end %>

 

<%= #render(:partial => 'shared/ensure_window_size') 
%>

<!-- open search auto-discovery -->
<link rel="search"
     type="application/opensearchdescription+xml"
    title="<%= umlaut_config.opensearch_short_name %>"
     href="<%= url_for(:controller=>'open_search', :only_path=>false) %>" ></link>

</head>
<body>

  <div class="umlaut container">
  
     <div class="header">
        <h1><%= umlaut_config.app_name %></h1>
     </div>
  
  
    <% if @user_request %>
         <div class="headerStatusBar">
          <div align="right"  class="largeText">URL: 
            <% url = permalink_url(request, @user_request) %>
            <%= link_to url, url %>
          </div>
         </div>
     <% end %>
  
  
      <%= yield %>
   
      <!-- even with nothing in it, footer neccesary for CSS clear=both -->
     <div id="footer" class="footer">
       <%= render_service_credits %>
     
        <%= link_to_toggle_debug_info %> 
     </div>
  
  </div>

</body>
</html>

