<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %> 
    <%= javascript_include_tag 'application' %>
    <title><%= umlaut_title_text %></title>
    <%= render_umlaut_head_content %>
  </head>
  <body class="umlaut no-js">
    <div class="umlaut-container">
      <%= render :partial => "umlaut/header" %>

      <div class="umlaut-main-container-fluid container-fluid <%= "umlaut-#{params[:controller]}-container" %>">
        <%= yield %>
      </div>

      <%= render :partial => "umlaut/footer" %>
    </div>
  </body>
</html>
