<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %> 
    <%= javascript_include_tag 'application' %>
    <title><%= umlaut_title_text %></title>
    <%= render_umlaut_head_content %>
  </head>
  <body class="umlaut no-js">
    <div class="umlaut-container">
      <header id="header" class="header">

          <h1><%= umlaut_config.app_name %></h1>


        <% if permalink = current_permalink_url() %>
          <div class="umlaut-permalink">URL: <%= link_to current_permalink_url, current_permalink_url %></div>
        <% end %>

      </header>

      <div class="umlaut-main-container-fluid container-fluid <%= "umlaut-#{params[:controller]}-container" %>">
        <%= yield %>
      </div>

      <footer id="footer" class="footer">
        <%= render_service_credits %>
        <!-- links to aid in debugging openurls gone wrong when in production -->
        <%= link_to_test_resolve %>
        <%= link_to_direct_sfx %>
        <%= link_to_toggle_debug_info %> 
      </footer>
    </div>
  </body>
</html>
