<!DOCTYPE html>
<html lang="EN">
<head>
  <meta charset="utf-8">

  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css'%>
  <%= stylesheet_link_tag 'umlaut' %> 

  <%= javascript_include_tag 'application' %>

  <title>
    <%= umlaut_config.app_name %> <%= "| #{@page_title}" if @page_title %>    
  </title>

  <!-- will refresh the page if requested by controller -->
  <%= render_meta_refresh %>

  <!-- open search auto-discovery -->
  <%= render_opensearch_link %>
 
</head>
<body>

  <div class="umlaut container">
  
     <div class="header">
        <h1><%= umlaut_config.app_name %></h1>
     </div>
  
  
    <% if @user_request %>
         <div class="headerStatusBar">
          <div align="right"  class="largeText">URL: 
            <% url = permalink_url(request, @user_request) %>
            <%= link_to url, url %>
          </div>
         </div>
     <% end %>
  
  
      <%= yield %>
   
      <!-- even with nothing in it, footer neccesary for CSS clear=both -->
     <div id="footer" class="footer">
        <%= render_service_credits %>
        <!-- links to aid in debugging openurls gone wrong when in production -->
        <%= link_to_test_resolve %>
        <%= link_to_direct_sfx %>
        <%= link_to_toggle_debug_info %> 
     </div>
  
  </div>

</body>
</html>

